{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Select a Payment Method</h2>
    <p class="text-center">Choose how you want to proceed with your payment.</p>

    <div class="row">
        {% for method_code, method_name in payment_methods %}
        <div class="col-md-4">
            <form action="{% url 'process_payments' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="payment_method" value="{{ method_code }}">
                <button class="btn btn-dark w-100">Pay with {{ method_name }}</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
